<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Entrypass</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.uetrack.entrypass</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.90829227922-rcaocuvbud5u0iuc6a4lmk599ufa1ded</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>37</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Need the permission to access your photo gallery for uploading images</string>
	<key>NSCameraUsageDescription</key>
	<string>Need the permission to get the camera to scan QRcode</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Need the permission to know the user login location and if the user is in the organisation limits</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Need the permission to know the user login location and if the user is in the organisation limits</string>
	<key>NSLocationUsageDescription</key>
	<string>Need the permission to know the user login location and if the user is in the organisation limits</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Need the permission to know the user login location and if the user is in the organisation limits</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Need the permission to capture audio while using the in-app camera</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Need the permission to capture audio while using the in-app camera</string>
	<key>UIAppFonts</key>
	<array>
		<string>Urbanist-Black.ttf</string>
		<string>Urbanist-BlackItalic.ttf</string>
		<string>Urbanist-Bold.ttf</string>
		<string>Urbanist-BoldItalic.ttf</string>
		<string>Urbanist-ExtraBold.ttf</string>
		<string>Urbanist-ExtraBoldItalic.ttf</string>
		<string>Urbanist-ExtraLight.ttf</string>
		<string>Urbanist-ExtraLightItalic.ttf</string>
		<string>Urbanist-Italic.ttf</string>
		<string>Urbanist-Light.ttf</string>
		<string>Urbanist-LightItalic.ttf</string>
		<string>Urbanist-Medium.ttf</string>
		<string>Urbanist-MediumItalic.ttf</string>
		<string>Urbanist-Regular.ttf</string>
		<string>Urbanist-SemiBold.ttf</string>
		<string>Urbanist-SemiBoldItalic.ttf</string>
		<string>Urbanist-Thin.ttf</string>
		<string>Urbanist-ThinItalic.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
	<string>itms-apps</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
